body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 6px;
    align-items: center;
}
a{
    color: rgba(0,0,0,0.87) ;
    font-family:  arial, sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line height: 24px;
    padding:8px;
}

a:hover {
    text-decoration: underline;
}

.right-bar{
    display: inline-block;
    align-items: center;
}
.app-logo{
    vertical-align: middle;

}
.email{
    background-size: 32px 32px;
    border: 0;
    border-radius: 50%;
    margin: 0px;
    height: 32px;
    width: 32px;
    vertical-align: middle;
}

.button-apps{
    background-image: url(//ssl.gstatic.com/gb/images/i1_1967ca6a.png);
}
.logo-container{
    display: block;
    text-align: center;
    padding-top: 200px;
}
.logo{
    padding-bottom: 30px;
}
.search-bar{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.search-bar-container{
    width: auto;
    max-width: 584px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}
.search-bar-item{
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    align-items: center;
    
}
.search_logo{
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}
.input-text{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.input{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 16px;
}
.mic-png{
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    height: 24px;
    line-height: 44px;
}
.button{
    padding-top: 30px;
}
.gbttn{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.lbttn{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.footer{
    position: absolute;
    
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    border: 1px solid var(--border-color);
    background: var(--footer-background);
    background-color: #eeeeee;

}
.footer-links{
    color: #70757a;
    display: flex;
    justify-content: space-between;
    flex: wrap;
    width: 100%;
    padding-right: 30px;

}
.grey-color{
    color: #70757a;
    padding: 15px;
}
.leaf{
    height: 14px;
    margin-right: 6px;
}